<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182397632569-7762fd7otl1l637ood7prl4akrddvu2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182397632569-7762fd7otl1l637ood7prl4akrddvu2q</string>
	<key>API_KEY</key>
	<string>AIzaSyAwXmSf0dUhTMkDlUIxoLgcBz72BGtxLac</string>
	<key>GCM_SENDER_ID</key>
	<string>182397632569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paye</string>
	<key>PROJECT_ID</key>
	<string>paye-app</string>
	<key>STORAGE_BUCKET</key>
	<string>paye-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182397632569:ios:78603acc2b15d801e98de8</string>
</dict>
</plist>